<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.jaywaycars.sensortestview"
    android:sharedUserId="android.system.uid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.SET_ACTIVITY_WATCHER" >
    </uses-permission>

    <uses-permission android:name="android.car.permission.CAR_SPEED">
    </uses-permission>

    <uses-feature android:name="com.android.car" />
    <uses-feature android:name="android.car" />

    <uses-feature android:name="android.hardware.type.automotive" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.android.jaywaycars.sensortestview.SensorActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SettingsActivity"
            android:parentActivityName=".SensorActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SensorActivity" />
        </activity>
    </application>

</manifest>